<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="1505" cellspacing="0">
        <tr  bgcolor="FF7F50">
            <td width="55%" align="center"><font color="white">order ahead,coffeebar is now available online for store pick up.</font></td>
        </tr>
        <!-- <tr bgcolor="brown" height="600px"> -->
            <!-- <td valign="top" align="center"><br><br> -->
            <table border="1" width="600px" height="900px" cellspacing="0" align="left" bgcolor="#5F1E02">
                <tr>
                    <td valign="top" align="left"><h1><font color="white"><u>coffeebar</u></font></h1><br><br><br><br><br><br><br><br><h2 align="center"><font color="yellow" ><b>NEVER RUN OUT OF<br>COFFEE AGAIN.</b></font></h2><h3 align="center"><font color="white">your favourite coffee delivered on your schedule</font></h3></td>
                   
                </tr>
                
            </table>
        </tr>

    </table>
    <table border="1" width="900px" height="900px" cellspacing="0px"  valign="top" align="right">
        <tr bgcolor="#3d251e">
            <td valign="top" align="right">
                <table border="0" width="800px" height="0px" cellspacing="0px" >
                    <tr bgcolor="#3d251e" width="600px">
                        <td><h3>
                            <a href="#"><font color="white">HOME</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="about.html"><font color="white">ABOUT US</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#"><font color="white">ITEMS</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#"><font color="white">CONTACT</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="form.html"><font color="white">FORM</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        </h3><br><br><br><br><br><br><br><br><br><br><br><br><h1 align="center"><font color="white">coffeebar</font></h1><h4 align="center"><font color="white">Hand roasted,vertically sourced,shipped straight to your doorstep</font></h4></td>
                    </tr>

                </table>
               
            </td>
        </tr>


    </table>
    
    
</body>
</html>